config = { 
   pluginpaths = {
      "/usr/lib/aura/",
      "./src/plugins/tcp/.libs/",
      "./src/plugins/dummy/.libs/",
      "./src/plugins/urpc/.libs/",
      "./src/plugins/urpc-null/.libs/",
      "./src/plugins/urpc-serial/.libs/"	
   },
   plugins = {
      "urpc",
      "dummy",
      "tcp",
      "urpc-null",
      "urpc-serial",
      "urpc-usb"	  
   },

   tcp = {
      addr = "0.0.0.0",
      port = 8000,
      password = 'secret'
   },
}
